# Logs
*.log
*.tmp
*.bak

# Editors
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Python
__pycache__/
*.pyc

# Env
.env
venv/

# Docker / compose overrides
docker-compose.override.yml

# Local ChirpStack artifacts
data/
postgres-data/
redis-data/
mosquitto-data/
mosquitto-log/
